[buildout]
extensions = 
    mr.developer

show-picked-versions = true

extends = 
    http://dist.plone.org/release/4.3-latest/versions.cfg
    versions.cfg

find-links = 
    http://dist.kreativkombinat.de/public

versions = versions
unzip = true

[eggs]
main = 
    msc.sitetheme

addon = 
    Pillow
    Products.PloneFormGen
    Products.Maps
    Products.LinguaPlone
    collective.prettyphoto
    collective.quickupload
    collective.indexing
    experimental.catalogqueryplan
    experimental.contentcreation

test = 
    kk.apc [test]

devtools = 
    bpython
    plone.reload
    sauna.reload
    Products.PDBDebugMode
    Products.PrintingMailHost
    Products.DocFinderTab

[sources]
msc.sitetheme      = fs msc.sitetheme

# Additional checkouts

ade25.toolbar           = git git@github.com:ade25/ade25.toolbar.git
ade25.typekit           = git git@github.com:ade25/ade25.typekit.git
ade25.fabfiles          = git git@github.com:ade25/ade25.fabfiles.git
plone.app.contenttypes  = git git@github.com:plone/plone.app.contenttypes.git
sauna.reload            = git https://github.com/epeli/sauna.reload.git

